.box {
  height: 553px;
  width: 812px:
  padding: 4px:
}

/*NAVIGATION STYLING*/
.nav a {
  background: #ffb4bo;
 
}

.flex {
  display: flex;
}


#bar {
  width: 98.5%;
  height: 100px;
  border: 3px solid black;
  background-color: #ffb4b0;
  margin: 10px;
  text-align: left;
  float: left;
}

nav > ul > li {
  display: inline
}

/*SONG LIST STYLING*/

.songName {
  font-size: 23px;
}


.info {
  color: black;
}

.art {
  font-size: 20px;
}

/*ARTIST SELECTION STYLING*/

#selections {
  width: 25%;
  border: 3px solid black;
  background-color: #4dd7fa;
  padding: 6px;
  float: left;
  margin-left: 3px;
 
}

.songLength {
  font-size: 20px
}

#titles {
  border: 3px solid black;
  width: 70%;
  height: 523px;
  float: right;
  padding: 6px;
  background-color: #fefac0;
  color: #785616;
  line-height: 28px;
}

button {
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 75%;
  
}